<h2>All Jobs</h2>
<table *ngIf="jobs.length > 0" class="collapse w-100">
  <tr class="dn dt-row-l">
    <th class="ba b--light-gray pa3 tl">jobTitle:</th>
    <th class="ba b--light-gray pa3 tl">jobReferenceNo:</th>
    <th class="ba b--light-gray pa3 tl">timeStamp:</th>
    <th class="ba b--light-gray pa3 tl">Action</th>
  </tr>
  <tr *ngFor="let job of jobs">
    <td class="w-50 w-25-l ba b--light-gray pa3">{{job.jobTitle}}</td>
    <td class="dn dtc-l w-25-l ba b--light-gray pa3">{{job.jobReferenceNo}}</td>
    <td class="dn dtc-l w-25-l ba b--light-gray pa3">{{job.timeStamp}}</td>
    <td class="w-50 w-25-l ba b--light-gray pa3"><a routerLink="/job/{{job.jobReferenceNo}}">View Job</a></td>
  </tr>
</table>

<div *ngIf="jobs.length === 0">
  No jobs.
  Add a <a class="link red" routerLink="/job/new">new job</a>.
</div>
